.tech-pdf-wrapper {
    color: #231f20;
    font-family: 'Honeywell Sans', serif;
    font-style: normal;
    font-weight: 500;
}

.r-pdf-header {
    margin-bottom: 50px;
}

.r-pdf-header img {
    height: auto;
    width: 100%;
}

.tech-pdf-wrapper h1 {
    font-family: "Access Extra Bold";
    font-size: 28px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 50px;
    margin-top: 0;
    text-align: center;
}

.tech-pdf-body {
    position: relative;
}

.tech-pdf-body.demo-pdf {
    background-image: url('assets/images/pdfs/demo-background.png');
    /* background-position: left 1375px; */
    background-position: 0 10%;
    background-repeat: repeat-y;
}

.tech-pdf-body .container {
    position: relative;
    z-index: 9;
}

.document-numbers span {
    display: block;
}

hr {
    border: 0;
    border-bottom: 1px solid #273990;
}

/* Statuses */

.good-status {
    color: #1f9b2d;
}

.marginal-status {
    color: #ff9900;
}

.needs_attention-status {
    color: #ee3124;
}

/* Align Helpers */

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.tech-pdf-wrapper .honeywell-logo {
    margin-bottom: 40px;
}

.tech-pdf-wrapper .row {
    margin-left: 0;
    margin-right: 0;
}

.tech-pdf-wrapper .row:after {
    clear: both;
    content: "";
    display: table;
}

.tech-pdf-wrapper .row.two-column .column {
    float: left;
    width: 50%;
}

.tech-pdf-wrapper .row.two-column .column.air-advice-badge {
    position: relative;
}

/* Section Heading */

.tech-pdf-wrapper .section-header-wrap {
    border-bottom: 1pt solid #273990;
    height: 38px;
    margin-bottom: 10px;
    position: relative;
}

.tech-pdf-wrapper .section-header-wrap .section-heading {
    color: #273990;
    font-family: "Access Extra Bold";
    font-size: 19px;
    font-weight: 800;
    position: relative;
}

.tech-pdf-wrapper .section-header-wrap .air-advice-badge {
    position: relative;
}

.tech-pdf-wrapper .section-header-wrap .air-advice-badge img {
    height: 38px;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: 1;
}

/*
  Table Styles
*/

.tech-pdf-wrapper table {
    margin-bottom: 25px;
    position: relative;
    width: 100%;
    z-index: 9;
}

.tech-pdf-wrapper table:first-child {
    margin-bottom: 50px;
}

/* Table Head */

.tech-pdf-wrapper table thead {
    color: #4d4d4f;
    font-size: 7.5pt;
}

.tech-pdf-wrapper table thead th {
    font-style: italic;
    font-weight: 400;
    text-align: left;
}

/*
  Table Body
*/

.tech-pdf-wrapper tbody {}

.tech-pdf-wrapper .what-we-measured tbody tr {
    height: 20px;
    line-height: 20px;
    padding: 0;
}

.tech-pdf-wrapper .what-we-measured tbody tr td {
    font-size: 11px;
    margin-bottom: 5px;
    padding: 5px 0;
}

.control-icon {
    height: 20px;
    vertical-align: top;
    margin-right: 2px;
    width: 20px;
}

.tech-pdf-wrapper tbody tr td span {
    font-family: arial, 'Honeywell Sans Extra Bold';
    font-weight: 800;
    height: 15px;
    line-height: 15px;
}

.tech-pdf-wrapper .what-we-measured tbody tr td span {
    font-family: arial, 'Honeywell Sans Extra Bold', serif;
    font-weight: 800;
    height: 20px;
    line-height: 20px;
}

.tech-pdf-wrapper .what-we-measured tbody tr td:nth-child(1) {
    color: #34383a;
    font-family: 'Honeywell Sans Extra Bold', serif;
    font-weight: 800;
}

.tech-pdf-wrapper .what-we-measured tbody tr td:nth-child(2) {
    font-weight: 800;
}

.tech-pdf-wrapper .what-we-measured tbody tr td:nth-child(3), .tech-pdf-wrapper .what-we-measured tbody tr td:nth-child(4) {
    color: #231f20;
}

.why-it-matters {
    border-bottom: 1px solid #273990;
    position: relative;
}

.why-it-matters.temperature {
    margin-bottom: 0;
}

.why-it-matters, .why-it-matters tr, .why-it-matters tr td {
    margin-bottom: 0;
    padding-bottom: 0;
}

.tech-pdf-wrapper table.why-it-matters tbody tr {
    margin: 0;
    padding: 0;
}

.tech-pdf-wrapper table.why-it-matters tbody tr td {
    vertical-align: top;
}

.tech-pdf-wrapper table.why-it-matters tbody tr td.summary {
    padding-bottom: 10px;
}

.tech-pdf-wrapper table.why-it-matters tbody tr td.dial-column {
    max-width: 175px;
    width: 175px;
}

.tech-pdf-wrapper table.why-it-matters tbody tr td.dial-column img {
    height: auto;
    width: 100%;
}

.summary {
    padding-right: 10px;
}

.title-wrap .title, .title-wrap .status-wrap {
    display: inline-block;
}

.title-wrap {
    margin-bottom: 5px;
}

.title-wrap .title {
    font-family: arial, 'Honeywell Sans Extra Bold', serif;
    font-size: 19px;
    font-weight: 700;
}

.title-wrap .status-wrap {
    margin-left: 20px;
}

.title-wrap .status-wrap img {
    position: relative;
    top: -2px;
    vertical-align: middle;
}

.summary .description {
    color: #231f20;
    font-size: 8.3pt;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
    padding-right: 10px;
}

.summary .bullet-header {
    color: #273990;
    font-family: arial;
    font-style: italic;
    font-weight: 800;
}

.summary .bullet-content {
    font-size: 12px;
    line-height: 1.15;
}

.summary .bullet-content ul {
    margin: 0;
    padding: 0 0 0 10px;
}

.summary .bullet-content ul li {
    list-style-position: outside;
    margin-left: 0.5em;
}

/*
  Dial
*/

.dial-column {
    text-align: center;
}

.chart-section {
    line-height: 1;
    margin-top: -50px;
    position: relative;
    z-index: 9;
}

.chart-section .chart-range-ppm {
    margin-bottom: 10px;
}

.chart-section .chart-range {
    color: #273990;
    font-size: 22px;
}

.chart-section .ppm {
    color: #273990;
}

.chart-section .temp {
    color: #273990;
}

.chart-section .chart-type {
    display: block;
    margin-bottom: 2px;
}

.chart-section .chart-type {
    font-size: 11px;
}

.chart-section .ranges {
    line-height: 11px;
}

.chart-section .ranges span {
    color: #273990;
    display: block;
    font-size: 11px;
    line-height: 11px;
}

.dial {
    position: relative;
    height: 133px;
    width: 175px;
    z-index: 1;
}

.temp-dial {
    position: relative;
    height: 140px;
    width: 175px;
}

.needle {
    height: 50px;
    width: 5px;
    background: #273990;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    display: inline-block;
    position: absolute;
    right: 85px;
    top: 35px;
    -webkit-transform-origin: bottom;
}

.needle-odor {
    height: 50px;
    top: 25px;
}

.microgram {
    font-family: arial!important;
    font-weight: 300!important;
}

body.pdf-body {
    font-size: 14px;
}

.r-pdf-header {
    margin-bottom: 20px;
}

.r-pdf-header img {
    height: auto;
    width: 100%;
}

.r-pdf-wrapper {
    color: #231f20;
    font-family: 'Honeywell Sans', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.r-pdf-wrapper .verdana-text {
    font-family: arial;
}

.r-pdf-wrapper .verdana-text.bold {
    font-weight: 700;
}

.r-pdf-wrapper .dashboard-header {
    display: flex;
    margin-top: 50px;
}

.r-pdf-wrapper .dashboard-header .column .document-title, .r-pdf-wrapper .dashboard-header .column .company-title {
    font-family: "Access Extra Bold";
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
}

.r-pdf-wrapper .dashboard-header .column .document-title {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
}

.r-pdf-wrapper .dashboard-header .column .document-placeholder {
    color: #fff;
    font-size: 22px;
}

.r-pdf-wrapper .dashboard-header .column.document-company {
    text-align: right;
}

.r-pdf-wrapper .dashboard-header .column.document-company .document-date {
    font-size: 22px;
}

.r-pdf-wrapper .copyright {
    color: #888;
    font-size: 11px;
    padding: 50px 0 0 0;
    text-align: left;
}

.r-pdf-wrapper .product-selling-table {
    width: 50%;
}

.r-pdf-wrapper .r-table {
    font-size: 11px !important;
}

.r-pdf-wrapper .r-table .border-bottom {
    border-width: 2px !important;
}

.r-pdf-wrapper .r-table .r-table-header {
    background-color: #a6a8ab;
    color: #fff;
}

.r-pdf-wrapper .r-table .r-table-header tr th {
    background-color: #a6a8ab;
    padding: 0;
    vertical-align: middle;
}

.r-pdf-wrapper .r-table .r-table-header.tall tr th {
    padding: 10px 0;
}

.r-pdf-wrapper .r-table tbody tr td {
    margin-bottom: 1px;
    padding: 5px;
}

.r-pdf-wrapper .r-table tbody tr td.company-border {
    border-bottom: 1px solid #ddebf6;
}

.r-pdf-wrapper .r-table tbody tr td .r-box {
    border-width: 1px !important;
}

.r-pdf-wrapper .r-table tbody tr td.r-td-border-top {
    border-top: 1px solid #191a00;
}

.r-pdf-wrapper .r-table tbody tr td.table-info {
    background-color: #ddebf6;
}
